body {
  font-family: 'Lato', sans-serif;
  background-color : #dadfea;
}
.logout-button {
        border: 3px solid #9ec9d4;
    }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0062a8;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  opacity : 0.5;
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
  border-radius: 50px;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #B6BDC1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.top-bar {
        text-align : center;
        border-radius: 70px;
    }

.user-label {
    padding : 0 0 0 50px;
	text-align:right ;
	}

fa{
    padding: 0 50px 0 0 ;
    }

table.center {
    width : 80%;
    margin-left : auto;
    margin-right: auto;
}

.button-attack {
  background-color: #1d87df; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}