    body {font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    form {border: 3px solid #f1f1f1;}

    input[type=text], input[type=password] {
        width: 25%;
        padding: 14px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #1872c1;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 35%;
        border-radius: 30px;
    }

    button:hover {
        opacity: 0.8;
    }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
    .container {
        /*padding: 100px;*/

    }

    span.psw {
        padding-top: 16px;
    }
    .top-bar {
        border-radius: 75px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;

        }
        .cancelbtn {
            width: 100%;
        }
    }
    .login-button {
        border: 3px solid #9ec9d4;
    }